#resume {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.resume-body {
    display: -webkit-box;
    /* Not needed if autoprefixing */
    display: -ms-flexbox;
    /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px;
    /* gutter size offset */
    width: auto;
    padding-left: 10px;
}

.resume-body-item {
    padding-left: 30px;
    /* gutter size */
    background-clip: padding-box;
}

.resume-body-item>div {
    margin-bottom: 30px;
}

.resume-body .resume-title {
    font-size: 2rem;
    margin: 20px 0;
}

.resume-body .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid var(--text-blue);
    position: relative;
}

.resume-body .resume-item h4 {
    line-height: 18px;
    font-size: 18px;
    color: var(--text-blue);
    margin-bottom: 10px;
}

.resume-body .resume-item h5 {
    font-size: 16px;
    padding: 5px 15px;
    display: inline-block;
    margin-bottom: 10px;
}

.resume-body .resume-item ul {
    padding-left: 20px;
}

.resume-body .resume-item ul li {
    padding-bottom: 10px;
}

.resume-body .resume-item:last-child {
    padding-bottom: 0;
}

.resume-body .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -11px;
    top: 0;
    background: var(--bg-lite-blue);
    border: 2px solid var(--text-blue);
}
